.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100vh; */
    /* background-color: #f5f5f5; */
    /* margin: 200px 0; */
  }

  .novo-cartao-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    right: 30px;
  }

  .no-card {
    display: flex; /* Alinha o ícone e o texto em linha */
    flex-direction: column; /* Coloca o ícone sobre o texto */
    align-items: center; /* Centraliza horizontalmente */
    margin-top: 20px; /* Margem superior para espaçamento */
}

.square {
    width: 600px; /* Largura do quadrado */
    height: 300px; /* Altura do quadrado */
    border: 4px dashed #ccc; /* Borda tracejada */
    display: flex; /* Flex para centralizar */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    margin-bottom: 10px; /* Espaçamento inferior */
}